# Bytecode, caches
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
ENV/
env/
.venv/

# Directorios de compilación u output
build/
dist/
out/
bin/
obj/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter notebooks
.ipynb_checkpoints/

# Archivos de configuración local
*.env
.env.local
.env.*.local

# Macros / archivos swap / temporales
*.swp
*~